<header>
	<div id="navigation">
		<a class="navigationLink" name="home" href="{{ path('home') }}">Home</a>
		<a class="navigationLink" name="werdegang" href="{{ path('werdegang') }}">Werdegang</a>
		<a class="navigationLink" name="kenntnisse" href="{{ path('kenntnisse') }}">Kenntnisse</a>
		<a class="navigationLink" name="motivation" href="{{ path('motivation') }}">Motivation</a>
		<a class="navigationLink" name="projekte" href="{{ path('projects') }}">Projekte und Technologien</a>
	</div>
</header>